{% macro render_widget_item(item, index) %}
    <div class="widget-item card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    {{ form_label(item.libelle) }}
                    {{ form_widget(item.libelle, {attr:{class:"form-control"}}) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(item.status, {attr:{class:"form-control"}}) }}
                </div>

            </div>
        </div>
        <div class="card-footer">
            <label>&nbsp;</label>
            <button onclick="removeItem(this);" type="button" class="mt-3 btn btn-danger"><i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
{% endmacro %}