{% extends 'base.html.twig' %}

{% block title %}Edit Campagne{% endblock %}

{% block body %}


    {{ include('campaign/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('campaign_index') }}">back to list</a>

    {{ include('campaign/_delete_form.html.twig') }}
{% endblock %}
{% block JSPersonalScripts %}
    <script src="{{ asset('plugins/collection.js') }}"></script>
{% endblock %}