{% extends 'base.html.twig' %}

{% block title %}Edit Campagne{% endblock %}
{% block StyleSheet %}
    <style>
        input[type="range"] {
            position: relative;
        }

        input[type="range"]:before {
            position: absolute;
            top: -7px;
            left: 50%;
            margin-left: -10px;
            content: attr(value);
            display: block;
            text-align: center;
            width: 20px;
            height: 10px;
            font-weight: bold;

        }
    </style>
{% endblock %}
{% block body %}


    {{ include('campaign/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('campaign_index') }}">back to list</a>

    {{ include('campaign/_delete_form.html.twig') }}
{% endblock %}
{% block JSPersonalScripts %}
    <script src="{{ asset('plugins/collection.js') }}"></script>
    <script>
        document.querySelector('input[type=range]').addEventListener('input', function rangeChange() {
            // trigger the CSS to update
            this.setAttribute('value', this.value);
        });
    </script>
{% endblock %}