{% extends 'base.html.twig' %}

{% block title %}New Joueur{% endblock %}

{% block body %}


    {{ include('joueur/_form.html.twig') }}

    <a href="{{ path('joueur_index') }}">back to list</a>
{% endblock %}
