{% extends 'base.html.twig' %}

{% block title %}Edit Equipe{% endblock %}

{% block body %}
<!--begin::Portlet-->
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="la la-gear"></i>
										</span>
                <h3 class="m-portlet__head-text">
                    Mettre à jour cette équipe
                </h3>
            </div>
        </div>
    </div>

    {{ include('equipe/_form.html.twig', {'button_label': 'Update'}) }}

</div>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
