{% extends 'base.html.twig' %}

{% block title %}New ActionMarketing{% endblock %}
{% block StyleSheet %}
<style>
    input[type="range"] {
        position: relative;
    }

    input[type="range"]:before {
        position: absolute;
        top: -7px;
        left: 50%;
        margin-left: -10px;
        content: attr(value);
        display: block;
        text-align: center;
        width: 20px;
        height: 10px;
        font-weight: bold;

    }
</style>
{% endblock %}
{% block body %}

<!--begin::Portlet-->
<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
										<span class="m-portlet__head-icon m--hide">
											<i class="la la-gear"></i>
										</span>
                <h3 class="m-portlet__head-text">
                    Formulaire creation une action marketing
                </h3>
            </div>
        </div>
    </div>
    {{ include('action_marketing/_form.html.twig') }}
</div>

{% endblock %}
{% block JSPersonalScripts %}
<script>
    document.querySelector('input[type=range]').addEventListener('input', function rangeChange() {
        // trigger the CSS to update
        this.setAttribute('value', this.value);
    });
</script>

{% endblock %}
